.goods {

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card {
        max-width: 440px;
        min-height: 609px;
        box-shadow: 0 0 15px 0 rgba(16, 17, 17, 0.4);
        background-color: #dfe4ec;
        position: relative;
        padding: 23px 0 7px 0;
        &:nth-child(1),
        &:nth-child(3) {
            margin-right: 56px;
        }
        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 64px;
        }

        &::before {
            content: '-70%';
            display: block;
            width: 105px;
            height: 90px;
            background: url(../img/card/sale.png) center (center) no-repeat;
            position: absolute;
            top: -13px;
            right: -10px;
            font-family: Arial;
            text-align: right;
            font-size: 26px;
            line-height: 3.15;
            color: #ffffff;
            padding-right: 11px;
            z-index: 2;
        }
    }
}

.card {


    &__order {
        display: flex;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    &__img {
        display: block;
        transform: translate(-33px, 0);
        margin-right: 25px;
    }

    &__usage {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: translate(-33px, 0);

    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 9px 0 9px 25px;
        width: 222px;
        height: 79px;
        opacity: 0.85;
        background-color: #ffffff;
        margin-bottom: 11px;

        span {
            display: block;
            line-height: 1;
        }
    }

    &__descr {
        font-size: 16.7px;
        line-height: 1;
        text-align: right;
        color: #ab310c;
        padding-bottom: 2px;
        border-bottom: 1px dashed;
        max-width: 140px;
        cursor: pointer;

    }

    &__info {
        position: relative;
    }

    &__title {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: 30px;

        span:nth-child(1) {
            display: block;
            font-size: 26px;
            text-transform: uppercase;
            line-height: 1.15;
            text-decoration: underline;
            text-align: left;
            color: #000000;
        }

        span:nth-child(2) {
            display: block;
            font-size: 26px;
            line-height: 1.15;
            text-transform: lowercase;
            text-align: left;
            color: #000000;
        }
    }

    &__text {
        font-size: 20.5px;
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
        color: #004734;
    }

    &__popap {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        padding: 10px 34px 24px 32px;

        // display: none;
        &::before {
            content: "";
            border: 18px solid transparent;
            border-bottom: 10px solid #fbfaf8;
            position: absolute;
            top: -28px;
            right: 45px;
        }
    }
}

.old-price {
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    // line-height: 0.87;
    letter-spacing: normal;
    color: #575757;
    text-decoration: line-through;
}

.new-price {
    font-family: Arial;
    font-size: 37px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    // line-height: 0.51;
    letter-spacing: normal;
    color: #d8481c;
}

.social {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    opacity: 0.9;
    background-color: #ffffff;

    &__advice {
        font-size: 17.5px;
        line-height: 2.57;
        letter-spacing: 0.35px;
        text-align: center;
        color: #828384;
    }

    &__icons {
        @include flex-box;
        justify-content: space-around;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 27px;
        background-color: #aeaeae;
        border-radius: 50%;

    }

    &__icon_card {

        display: block;

    }
}

.popap {


    &__close {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        border: 2px solid #bf2426;
        color: #bf2426;
        font-size: 30px;
        line-height: 16px;
        display: block;
        margin-bottom: 7px;
        cursor: pointer;
        // &:before,
        // &:after {
        //     content: "";
        //     display: block;

        //     width: 12px;
        //     height: 2px;
        //     background: #bf2426;
        // }
        // &:before {
        //     transform: rotate(45deg);
        // }

        // &:after {
        //     transform: rotate(-45deg);
        // }
    }

    &__descr {
        font-size: 20px;
        text-align: left;
        color: #004734;
    }

    &__property {
        font-size: 20px;
        text-align: left;
        color: #004734;

        &:nth-child(2) {
            margin-bottom: 0;
        }
    }
}

