@font-face {
    font-family: 'Akrobat';
    src: url('../../fonts/Akrobat-Regular.eot');
    src: url('../../fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Akrobat-Regular.woff') format('woff'),
    url('../../fonts/Akrobat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }
