.button {
    text-align: center;
    width: 222px;
    height: 43px;
    @include btn-use ();
    border: none;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 20px $main-color;
    }
    &_order {
        font-size: 24px;
        font-stretch: normal;
        font-style: normal;
        // line-height: 2.33;
        letter-spacing: 1.2px;
        color: #ffffff;
        background-color: #3ab16f;
        text-transform: uppercase;
        margin-bottom: 9px;
    }

    &_descr {
        font-size: 22.5px;
       border: 1px solid #b83b11;
        letter-spacing: 1.13px;
        color: #b83b11;
        margin-bottom: 10px;
    }
    &_form {
        width: 329px;
        height: 43px;
        @include btn-use();
        border: none;
        font-size: 20.8px;
        text-align: center;
        background-color: #de0d08;
        color: #ffffff;
        cursor: pointer;
        &:hover {
            cursor: pointer;
            box-shadow: 3px 3px 20px #de0d08;
        }
    }
}